venv/
__pycache__/
*.pyc
varisat.exe
experiments/cases_from_literature/proofs/*
experiments/cases_from_literature/test_files/input/*
experiments/cases_from_literature/test_files/dimacs_formulas/sat/*
experiments/cases_from_literature/test_files/dimacs_formulas/unsat/*